@{
	import "github.com/jamillosantos/go-ceous/generator/models"

	var baseSchema *models.BaseSchema
}

// ColumnAddress returns the pointer address of a field given its column name.
func (model @raw("*")@baseSchema.Name@:) ColumnAddress(name string) (interface{}, error) {
	switch name {
@for _, field := range baseSchema.Fields {@
	case "@field.ColumnName":
		return &model.@field.Name@:, nil
}
	default:
		return nil, errors.Wrapf(ceous.ErrFieldNotFound, "field %s not found", name)
	}
}
