@{
	import "github.com/jamillosantos/go-ceous/generator/models"
	import . "github.com/jamillosantos/go-ceous/generator/helpers"

	var env *models.Environment
}

type Creator struct {
@for _, query := range env.Queries {@
	@query.FullName@:(options ...ceous.CeousOption) @Pointer@query.FullName
}

@for _, store := range env.Stores {@
	@store.FullName@:(options ...ceous.CeousOption) @Pointer@store.FullName
}
}
