@{
	import "github.com/jamillosantos/go-ceous/generator/models"

	var schema *models.Schema
}

@*
@{RenderColumnAddress(_buffer, schema)}
@{RenderColumnValue(_buffer, schema)}
type schema@schema.Name struct {
@for _, f := range schema.Fields {@
	@f.Name  ceous.SchemaField
}
}

var @schema.Name@:Schema = schema@schema.Name {
@for _, f := range schema.Fields {@
	@f.Name: ceous.NewSchemaField("@f.FieldName@:"),
}
}
*@