@{
	import "github.com/jamillosantos/go-ceous/generator/models"
	import . "github.com/jamillosantos/go-ceous/generator/helpers"

	var model *models.Schema
}

@{
	resultSetName := CamelCase(model.Name) + "ResultSet"
}

type @resultSetName struct {
	*ceous.RecordResultSet
}

func New@model.Name@:ResultSet(rs ceous.ResultSet, err error) @raw("*")@resultSetName@: {
	return @raw("&")@resultSetName@:{
		RecordResultSet: ceous.NewRecordResultSet(rs, err),
	}
}