@{
	import "github.com/jamillosantos/go-ceous/generator/models"
	// import . "github.com/jamillosantos/go-ceous/generator/helpers"

	var model *models.Schema
}

@*
@{
	modelName := CamelCase(model.Name) + "ResultSet"
}

type @modelName struct {
	*ceous.RecordResultSet
}

func New@model.Name@:ResultSet(rs ceous.ResultSet, err error) @raw("*")@modelName@: {
	return @raw("&")@modelName@:{
		RecordResultSet: ceous.NewRecordResultSet(rs, err),
	}
}

*@